---
---


// ----------------------------------
// Fonts
// ----------------------------------


@font-face {
    font-family: 'bree_serifregular';
    src: url('/assets/fonts/breeserif-regular-webfont.eot');
    src: url('/assets/fonts/breeserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/breeserif-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/breeserif-regular-webfont.woff') format('woff'),
         url('/assets/fonts/breeserif-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/breeserif-regular-webfont.svg#bree_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'InconsolataMedium';
    src: url('/assets/fonts/inconsolata-webfont.eot');
    src: url('/assets/fonts/inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/inconsolata-webfont.woff') format('woff'),
         url('/assets/fonts/inconsolata-webfont.ttf') format('truetype'),
         url('/assets/fonts/inconsolata-webfont.svg#InconsolataMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSlab500';
    src: url('/assets/fonts/museo_slab_500-webfont.eot');
    src: url('/assets/fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/museo_slab_500-webfont.woff') format('woff'),
         url('/assets/fonts/museo_slab_500-webfont.ttf') format('truetype'),
         url('/assets/fonts/museo_slab_500-webfont.svg#MuseoSlab500') format('svg');
    font-weight: normal;
    font-style: normal;
}


// ----------------------------------
// Base Elements
// ----------------------------------


* {
    margin:0;
    padding:0;
}

body {
    background-image: url('/assets/noisy.png');
    font-family:InconsolataMedium;
    margin-bottom: 15px;
}

h1,h2 {
    font-size:256%;
    font-family:'bree_serifregular';
}

h3 {
    margin-top:15px;
    margin-bottom:5px;
    font-family:'bree_serifregular';
}


a {
    text-decoration:none;
}

li {
    list-style:none;
    display:block;
    margin-left:10px;
}


// ----------------------------------
// Header
// ----------------------------------

#header a:visited {
    color: black;
}


// ----------------------------------
// Primary Structure
// ----------------------------------

html {
    margin: 20px;
}

body {
    margin-top: 30px;
    font-size: 110%;
}

main {
    width:960px;
    margin:0px auto 0;
}

#header, #site-title {
    font-family:'bree_serifregular';
    font-size: 204%;
    margin-left: -1%;
}

#wrapper {
    width:725px;
    min-height:300px;
    margin-bottom:20px;
    text-align:left;
}


// ----------------------------------
// Index Specific
// ----------------------------------


#exhibit {
    float:right;
    margin-top:55px;
    margin-left:17px;
    font-family:InconsolataMedium;
    font-size:1.2em;
}

.exhibit {
    width:300px;
    min-height:475px;
    border:1px solid #000;
    display:none;
    text-align:left;
    padding:10px;
}

.exhibit h1 {
    margin-bottom:15px;
    font-size: 180%;
}

.page-header {
    margin-top:30px;
    margin-bottom:30px;
    font-size: 300%;
}


// ----------------------------------
// Notes
// ----------------------------------


.article {
    margin-bottom:30px;
}

.page-date {
    color:grey;
}

.page-title {
    margin-top:30px;
    margin-bottom:30px;
    font-size: 150%;
}

article {
    margin-bottom: 40px;
    margin-left: 10px;
}


.pagination {
    font-size: 150%;
}











